.wrapper {
	display: flex;
	/*flex-flow: column nowrap;*/
	flex-direction: column;
	font-weight: bold;
	text-align: center;
}

.wrapper > *{
	padding: 10px;
	/*flex: 1 100%;*/
}

.header {
	background: tomato;	
	min-height: 100px;
}

.main {
	background: hotpink;	
	text-align: left;
	min-height: 400px;

	display: flex;
	flex-direction: row;
}

.main > .article {
	background: aqua;	
	min-height: 100px;
	flex-grow: 4;
}

.main > .aside {
	background: deepskyblue;	
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.main > .aside > .profile-picture{
	background: beige;	
	/*flex-grow: 1;*/
}

.main > .aside > .profile-description{
	background: lime;
}

.footer {
	background: lightgreen;	
	min-height: 100px;
}
