* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@import

@media only screen and (max-width: 500px) {
	body {
		background-color: red;
	}
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #D52D32;
}
/*Colors
Primary: #D52D32
Secondary #6E0D25
Support: #A7988B
Text Background: #F1EBE4;
*/


.flex-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-wrapper-vertical {
	display: flex;
	flex-direction: column;
}

#top .flex-wrapper-vertical {
	height: 120px;
	align-items:stretch;
	justify-content: center;

}

#middle .flex-wrapper {
	justify-content: center;
	align-items: stretch;
	height: 400px;
}

#bottom .flex-wrapper-vertical {
	justify-content: center;
	align-items: center;
}

#header {
	flex: 2;
	display: flex;
	background-color: #6E0D25;
	color:white;
	align-items: center;
	justify-content: center;
}

nav {
	flex:1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6E0D25;
	text-align: center;
}

nav ul {
	flex: 1;
}

nav ul li {
	background-color: blue;
	width: 24%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#profile {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #A7988B;
	text-align: center;

}

#about-me {
	flex: 2;
	background-color: #F1EBE4;
}
#about-me p, h1 {
	padding: 10px;
}

#info-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #F1EBE4;
	border-style: solid;
	padding: 5px;
	border-color: black;
	border-radius: 7px;
	border-width: 2px;
	width: 150px;
}

img {
	height: 200px;
	width: 200px;
	margin: 30px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

#bottom {
	color: white;
	background-color: #6E0D25;
}
